# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Environment
.env
*.env

# IDE
.idea/
*.iml
.vscode/

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# OS
.DS_Store
Thumbs.db
