# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Environment
.env
*.env

# IDE
.idea/
*.iml
.vscode/

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart
lib/generated/

# OS
.DS_Store
Thumbs.db
nul

# Ignore Firebase Files
**/GoogleService-Info.plist
**/google-services.json
**/firebase_options.dart

analytics/android/app/google-services.json
analytics/ios/firebase_app_id_file.json
analytics/ios/Runner/GoogleService-Info.plist
analytics/macos/firebase_app_id_file.json
analytics/macos/Runner/GoogleService-Info.plist

# ignore .firebaserc for all examples
**/.firebaserc
firebase.json

# Claude
.claude/
